In [49]:
import pandas as pd
import numpy as np
import re

In [50]:
billion=pd.read_csv('./../CSV/RawCSV/BillionairesIndex.csv')
GDP=pd.read_csv('./../CSV/RawCSV/Countries GDP 1960-2020.csv')
ICT=pd.read_csv('./../CSV/RawCSV/ICTSkills_Kaggle.csv', encoding='latin1')

In [51]:
# GDP['Country Name'].unique()
GDP['Country Name'].unique()

array(['Africa Eastern and Southern', 'Africa Western and Central',
       'Australia', 'Austria', 'Burundi', 'Belgium', 'Benin',
       'Burkina Faso', 'Bangladesh', 'Bahamas, The', 'Belize', 'Bermuda',
       'Bolivia', 'Botswana', 'Central African Republic', 'Canada',
       'Chile', 'China', "Cote d'Ivoire", 'Cameroon', 'Congo, Dem. Rep.',
       'Congo, Rep.', 'Colombia', 'Costa Rica', 'Caribbean small states',
       'Dominican Republic', 'Algeria',
       'East Asia & Pacific (excluding high income)',
       'Early-demographic dividend', 'East Asia & Pacific', 'Ecuador',
       'Euro area', 'Spain', 'Finland', 'Fiji', 'France', 'Gabon',
       'England', 'Ghana', 'Greece', 'Guatemala', 'Guyana', 'High income',
       'Hong Kong SAR, China', 'Honduras',
       'Heavily indebted poor countries (HIPC)', 'Haiti', 'IBRD only',
       'IDA & IBRD total', 'IDA total', 'IDA blend', 'IDA only', 'India',
       'Ireland', 'Iceland', 'Italy', 'Jamaica', 'Japan', 'Kenya',
       'St. Kitts and Nevis', 'Korea, Rep.', 'Sri Lanka',
       'Lower middle income', 'Low & middle income', 'Lesotho',
       'Late-demographic dividend', 'Luxembourg', 'Morocco', 'Madagascar',
       'Mexico', 'Middle income', 'Malawi', 'Malaysia', 'North America',
       'Niger', 'Nigeria', 'Nicaragua', 'Netherlands', 'Norway', 'Nepal',
       'OECD members', 'Pakistan', 'Panama', 'Peru', 'Philippines',
       'Papua New Guinea', 'Pre-demographic dividend', 'Puerto Rico',
       'Portugal', 'Post-demographic dividend', 'Rwanda', 'South Asia',
       'Sudan', 'Senegal', 'Singapore', 'Sierra Leone',
       'Sub-Saharan Africa (excluding high income)', 'Sub-Saharan Africa',
       'Suriname', 'Sweden', 'Eswatini', 'Seychelles', 'Chad',
       'East Asia & Pacific (IDA & IBRD countries)', 'Togo', 'Thailand',
       'Latin America & the Caribbean (IDA & IBRD countries)',
       'South Asia (IDA & IBRD)',
       'Sub-Saharan Africa (IDA & IBRD countries)', 'Trinidad and Tobago',
       'Turkey', 'Uganda', 'Upper middle income', 'Uruguay', 'USA',
       'St. Vincent and the Grenadines', 'World', 'South Africa',
       'Zambia', 'Zimbabwe'], dtype=object)

In [52]:
set(billion['Country'].unique())- set(GDP['Country Name'].unique())

{'Argentina',
 'Brazil',
 'Cayman',
 'Cyprus',
 'Denmark',
 'Egypt',
 'Georgia',
 'Germany',
 'HongKong',
 'Indonesia',
 'Israel',
 'Kazakhstan',
 'Korea',
 'Monaco',
 'New Zealand',
 'Russia',
 'Saudi Arabia',
 'South Korea',
 'Switzerland',
 'Taiwan',
 'UAE',
 'Ukraine',
 'Vietnam'}

In [ ]:
billion['Total_Net_Worth']=billion['Total_Net_Worth'].apply(lambda x: re.sub(r'\D', '', x))
billion['Total_Net_Worth']=billion['Total_Net_Worth'].astype(int)

In [ ]:
len(billion['Country'].unique())

In [ ]:
billion[['Name', 'Total_Net_Worth', 'Country','Industry']].groupby('Country').agg({'Total_Net_Worth': 'sum', 'Name': lambda x: ', '.join(x),'Industry': lambda x: list(set((', '.join(x)).split(',')))}).sort_values(by='Total_Net_Worth',ascending=False)

In [ ]:
billion[['Name', 'Total_Net_Worth', 'Industry']].groupby('Industry').agg({'Total_Net_Worth': 'sum', 'Name': lambda x: ', '.join(x)}).sort_values(by='Total_Net_Worth',ascending=False)

In [ ]:
choroplethmap=billion[['Name', 'Total_Net_Worth', 'Country','Industry']].groupby('Country').agg({'Total_Net_Worth': 'sum', 'Name': lambda x: ', '.join(x),'Industry': lambda x: list(set((', '.join(x)).split(',')))}).sort_values(by='Total_Net_Worth',ascending=False)
choroplethmap.to_csv("./../CSV/ProcessedCSV/totalnetworth.csv")

In [91]:
gdp2=GDP.copy()
gdp2=gdp2[["Country Name","2000","2001","2002","2003","2004","2005","2006","2007","2008","2009","2010","2011","2012","2013","2014","2015","2016","2017","2018","2019","2020"]]
gdp2=gdp2.loc[gdp2["Country Name"].isin(["USA","Sweden","Mexico","India","Hong Kong SAR, China","England","France","China","Canada","Australia"])]
gdp2

,Country Name,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
2,Australia,416000000000,379000000000,395000000000,467000000000,614000000000,695000000000,748000000000,854000000000,1060000000000,...,1400000000000,1550000000000,1580000000000,1470000000000,1350000000000,1210000000000,1330000000000,1430000000000,1390000000000,1330000000000
15,Canada,745000000000,739000000000,761000000000,896000000000,1030000000000,1170000000000,1320000000000,1470000000000,1550000000000,...,1790000000000,1830000000000,1850000000000,1810000000000,1560000000000,1530000000000,1650000000000,1730000000000,1740000000000,1650000000000
17,China,1210000000000,1340000000000,1470000000000,1660000000000,1960000000000,2290000000000,2750000000000,3550000000000,4590000000000,...,7550000000000,8530000000000,9570000000000,10500000000000,11100000000000,11200000000000,12300000000000,13900000000000,14300000000000,14700000000000
35,France,1360000000000,1380000000000,1490000000000,1840000000000,2120000000000,2200000000000,2320000000000,2660000000000,2920000000000,...,2860000000000,2680000000000,2810000000000,2850000000000,2440000000000,2470000000000,2590000000000,2790000000000,2730000000000,2630000000000
37,England,1660000000000,1640000000000,1780000000000,2060000000000,2420000000000,2540000000000,2720000000000,3110000000000,2940000000000,...,2670000000000,2720000000000,2800000000000,3090000000000,2960000000000,2720000000000,2700000000000,2900000000000,2880000000000,2760000000000
43,"Hong Kong SAR, China",172000000000,169000000000,166000000000,161000000000,169000000000,182000000000,194000000000,212000000000,219000000000,...,249000000000,263000000000,276000000000,291000000000,309000000000,321000000000,341000000000,362000000000,363000000000,347000000000
52,India,468000000000,485000000000,515000000000,608000000000,709000000000,820000000000,940000000000,1220000000000,1200000000000,...,1820000000000,1830000000000,1860000000000,2040000000000,2100000000000,2290000000000,2650000000000,2700000000000,2870000000000,2660000000000
69,Mexico,708000000000,757000000000,772000000000,729000000000,782000000000,877000000000,975000000000,1050000000000,1110000000000,...,1180000000000,1200000000000,1270000000000,1320000000000,1170000000000,1080000000000,1160000000000,1220000000000,1270000000000,1070000000000
99,Sweden,263000000000,242000000000,267000000000,334000000000,385000000000,392000000000,423000000000,491000000000,518000000000,...,574000000000,552000000000,587000000000,582000000000,505000000000,516000000000,541000000000,555000000000,534000000000,541000000000
114,USA,10300000000000,10600000000000,10900000000000,11500000000000,12200000000000,13000000000000,13800000000000,14500000000000,14700000000000,...,15500000000000,16200000000000,16800000000000,17500000000000,18200000000000,18700000000000,19500000000000,20600000000000,21400000000000,21000000000000

In [92]:
gdp2=gdp2.transpose().copy()
gdp2

,2,15,17,35,37,43,52,69,99,114
Country Name,Australia,Canada,China,France,England,"Hong Kong SAR, China",India,Mexico,Sweden,USA
2000,416000000000,745000000000,1210000000000,1360000000000,1660000000000,172000000000,468000000000,708000000000,263000000000,10300000000000
2001,379000000000,739000000000,1340000000000,1380000000000,1640000000000,169000000000,485000000000,757000000000,242000000000,10600000000000
2002,395000000000,761000000000,1470000000000,1490000000000,1780000000000,166000000000,515000000000,772000000000,267000000000,10900000000000
2003,467000000000,896000000000,1660000000000,1840000000000,2060000000000,161000000000,608000000000,729000000000,334000000000,11500000000000
2004,614000000000,1030000000000,1960000000000,2120000000000,2420000000000,169000000000,709000000000,782000000000,385000000000,12200000000000
2005,695000000000,1170000000000,2290000000000,2200000000000,2540000000000,182000000000,820000000000,877000000000,392000000000,13000000000000
2006,748000000000,1320000000000,2750000000000,2320000000000,2720000000000,194000000000,940000000000,975000000000,423000000000,13800000000000
2007,854000000000,1470000000000,3550000000000,2660000000000,3110000000000,212000000000,1220000000000,1050000000000,491000000000,14500000000000
2008,1060000000000,1550000000000,4590000000000,2920000000000,2940000000000,219000000000,1200000000000,1110000000000,518000000000,14700000000000
2009,928000000000,1370000000000,5100000000000,2690000000000,2430000000000,214000000000,1340000000000,900000000000,437000000000,14400000000000
2010,1150000000000,1620000000000,6090000000000,2640000000000,2490000000000,229000000000,1680000000000,1060000000000,496000000000,15000000000000
2011,1400000000000,1790000000000,7550000000000,2860000000000,2670000000000,249000000000,1820000000000,1180000000000,574000000000,15500000000000
2012,1550000000000,1830000000000,8530000000000,2680000000000,2720000000000,263000000000,1830000000000,1200000000000,552000000000,16200000000000
2013,1580000000000,1850000000000,9570000000000,2810000000000,2800000000000,276000000000,1860000000000,1270000000000,587000000000,16800000000000
2014,1470000000000,1810000000000,10500000000000,2850000000000,3090000000000,291000000000,2040000000000,1320000000000,582000000000,17500000000000
2015,1350000000000,1560000000000,11100000000000,2440000000000,2960000000000,309000000000,2100000000000,1170000000000,505000000000,18200000000000
2016,1210000000000,1530000000000,11200000000000,2470000000000,2720000000000,321000000000,2290000000000,1080000000000,516000000000,18700000000000
2017,1330000000000,1650000000000,12300000000000,2590000000000,2700000000000,341000000000,2650000000000,1160000000000,541000000000,19500000000000
2018,1430000000000,1730000000000,13900000000000,2790000000000,2900000000000,362000000000,2700000000000,1220000000000,555000000000,20600000000000
2019,1390000000000,1740000000000,14300000000000,2730000000000,2880000000000,363000000000,2870000000000,1270000000000,534000000000,21400000000000
2020,1330000000000,1650000000000,14700000000000,2630000000000,2760000000000,347000000000,2660000000000,1070000000000,541000000000,21000000000000

In [ ]:
#gdp2 = gdp2.drop(columns=['index',"level_0"], axis=1)
#gdp2.reset_index(inplace = True)
gdp2.to_csv("./../CSV/ProcessedCSV/top_10_countries_GDP(2000-2020).csv")

In [86]:
gdp2.transpose()
gdp2.columns = gdp2.iloc[0]
gdp2.drop(gdp2.index[0])
gdp2

2,Australia,416000000000,379000000000,395000000000,467000000000,614000000000,695000000000,748000000000,854000000000,1060000000000,...,1400000000000,1550000000000,1580000000000,1470000000000,1350000000000,1210000000000,1330000000000,1430000000000,1390000000000,1330000000000
2,Australia,416000000000,379000000000,395000000000,467000000000,614000000000,695000000000,748000000000,854000000000,1060000000000,...,1400000000000,1550000000000,1580000000000,1470000000000,1350000000000,1210000000000,1330000000000,1430000000000,1390000000000,1330000000000
15,Canada,745000000000,739000000000,761000000000,896000000000,1030000000000,1170000000000,1320000000000,1470000000000,1550000000000,...,1790000000000,1830000000000,1850000000000,1810000000000,1560000000000,1530000000000,1650000000000,1730000000000,1740000000000,1650000000000
17,China,1210000000000,1340000000000,1470000000000,1660000000000,1960000000000,2290000000000,2750000000000,3550000000000,4590000000000,...,7550000000000,8530000000000,9570000000000,10500000000000,11100000000000,11200000000000,12300000000000,13900000000000,14300000000000,14700000000000
35,France,1360000000000,1380000000000,1490000000000,1840000000000,2120000000000,2200000000000,2320000000000,2660000000000,2920000000000,...,2860000000000,2680000000000,2810000000000,2850000000000,2440000000000,2470000000000,2590000000000,2790000000000,2730000000000,2630000000000
37,England,1660000000000,1640000000000,1780000000000,2060000000000,2420000000000,2540000000000,2720000000000,3110000000000,2940000000000,...,2670000000000,2720000000000,2800000000000,3090000000000,2960000000000,2720000000000,2700000000000,2900000000000,2880000000000,2760000000000
43,"Hong Kong SAR, China",172000000000,169000000000,166000000000,161000000000,169000000000,182000000000,194000000000,212000000000,219000000000,...,249000000000,263000000000,276000000000,291000000000,309000000000,321000000000,341000000000,362000000000,363000000000,347000000000
52,India,468000000000,485000000000,515000000000,608000000000,709000000000,820000000000,940000000000,1220000000000,1200000000000,...,1820000000000,1830000000000,1860000000000,2040000000000,2100000000000,2290000000000,2650000000000,2700000000000,2870000000000,2660000000000
69,Mexico,708000000000,757000000000,772000000000,729000000000,782000000000,877000000000,975000000000,1050000000000,1110000000000,...,1180000000000,1200000000000,1270000000000,1320000000000,1170000000000,1080000000000,1160000000000,1220000000000,1270000000000,1070000000000
99,Sweden,263000000000,242000000000,267000000000,334000000000,385000000000,392000000000,423000000000,491000000000,518000000000,...,574000000000,552000000000,587000000000,582000000000,505000000000,516000000000,541000000000,555000000000,534000000000,541000000000
114,USA,10300000000000,10600000000000,10900000000000,11500000000000,12200000000000,13000000000000,13800000000000,14500000000000,14700000000000,...,15500000000000,16200000000000,16800000000000,17500000000000,18200000000000,18700000000000,19500000000000,20600000000000,21400000000000,21000000000000

In [82]:
gdp2.transpose()

Country Name,Australia,Canada,China,France,England,"Hong Kong SAR, China",India,Mexico,Sweden,USA
Australia,,,,,,,,,,
Australia,Australia,Canada,China,France,England,"Hong Kong SAR, China",India,Mexico,Sweden,USA
416000000000,416000000000,745000000000,1210000000000,1360000000000,1660000000000,172000000000,468000000000,708000000000,263000000000,10300000000000
379000000000,379000000000,739000000000,1340000000000,1380000000000,1640000000000,169000000000,485000000000,757000000000,242000000000,10600000000000
395000000000,395000000000,761000000000,1470000000000,1490000000000,1780000000000,166000000000,515000000000,772000000000,267000000000,10900000000000
467000000000,467000000000,896000000000,1660000000000,1840000000000,2060000000000,161000000000,608000000000,729000000000,334000000000,11500000000000
614000000000,614000000000,1030000000000,1960000000000,2120000000000,2420000000000,169000000000,709000000000,782000000000,385000000000,12200000000000
695000000000,695000000000,1170000000000,2290000000000,2200000000000,2540000000000,182000000000,820000000000,877000000000,392000000000,13000000000000
748000000000,748000000000,1320000000000,2750000000000,2320000000000,2720000000000,194000000000,940000000000,975000000000,423000000000,13800000000000
854000000000,854000000000,1470000000000,3550000000000,2660000000000,3110000000000,212000000000,1220000000000,1050000000000,491000000000,14500000000000
1060000000000,1060000000000,1550000000000,4590000000000,2920000000000,2940000000000,219000000000,1200000000000,1110000000000,518000000000,14700000000000
928000000000,928000000000,1370000000000,5100000000000,2690000000000,2430000000000,214000000000,1340000000000,900000000000,437000000000,14400000000000
1150000000000,1150000000000,1620000000000,6090000000000,2640000000000,2490000000000,229000000000,1680000000000,1060000000000,496000000000,15000000000000
1400000000000,1400000000000,1790000000000,7550000000000,2860000000000,2670000000000,249000000000,1820000000000,1180000000000,574000000000,15500000000000
1550000000000,1550000000000,1830000000000,8530000000000,2680000000000,2720000000000,263000000000,1830000000000,1200000000000,552000000000,16200000000000
1580000000000,1580000000000,1850000000000,9570000000000,2810000000000,2800000000000,276000000000,1860000000000,1270000000000,587000000000,16800000000000
1470000000000,1470000000000,1810000000000,10500000000000,2850000000000,3090000000000,291000000000,2040000000000,1320000000000,582000000000,17500000000000
1350000000000,1350000000000,1560000000000,11100000000000,2440000000000,2960000000000,309000000000,2100000000000,1170000000000,505000000000,18200000000000
1210000000000,1210000000000,1530000000000,11200000000000,2470000000000,2720000000000,321000000000,2290000000000,1080000000000,516000000000,18700000000000
1330000000000,1330000000000,1650000000000,12300000000000,2590000000000,2700000000000,341000000000,2650000000000,1160000000000,541000000000,19500000000000
1430000000000,1430000000000,1730000000000,13900000000000,2790000000000,2900000000000,362000000000,2700000000000,1220000000000,555000000000,20600000000000
1390000000000,1390000000000,1740000000000,14300000000000,2730000000000,2880000000000,363000000000,2870000000000,1270000000000,534000000000,21400000000000
1330000000000,1330000000000,1650000000000,14700000000000,2630000000000,2760000000000,347000000000,2660000000000,1070000000000,541000000000,21000000000000

In [93]:
gdp2.to_csv("./../CSV/ProcessedCSV/top_10_countries_GDP(2000-2020)ver2.csv")