In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv("./../Dataset/Complete_Covid/Covid.csv")
data.head()

C:\Users\akars\AppData\Local\Temp\ipykernel_18956\1615936715.py:1: DtypeWarning: Columns (1,33) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("./../Dataset/Complete_Covid/Covid.csv")

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-04,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN

In [4]:
data.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'total_tests', 'new_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'stringency_index',
       'population_density', 'median_age', 'aged_65_older', 'aged_70_older',
       'gdp_per_capita', 'extreme_poverty', 'cardiovasc_death_rate',
       'diabetes_prevalence', 'female_smokers', 'male_smokers',
       'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index', 'population',
       'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative',
       'excess_mortality', 'excess_mortality_cumulative_per_million'],
      dtype='object')

In [5]:
total_cases_csv=pd.read_csv("./../Dataset/Complete_Covid/total_cases.csv")
total_cases_csv.head()

,date,World,Afghanistan,Africa,Albania,Algeria,American Samoa,Andorra,Angola,Anguilla,...,Uruguay,Uzbekistan,Vanuatu,Vatican,Venezuela,Vietnam,Wallis and Futuna,Yemen,Zambia,Zimbabwe
0,2020-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-01-04,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-01-05,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-01-06,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-01-07,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
total_cases_csv=total_cases_csv.fillna(0)

In [10]:
total_cases_csv.to_csv("./../Dataset/Processed_files/Time_distributed/total_cases.csv")

In [12]:
sub=data[['continent','total_cases']].groupby(['continent']).mean()
sub

                total_cases
continent
Africa         8.599861e+04
Asia           2.269682e+06
Europe         1.572849e+06
North America  3.049517e+05
Oceania        4.236525e+05
South America  3.501703e+06

In [26]:
sub=sub.sort_values(by=['total_cases'])
sub

                                  total_cases
iso_code location
NIU      Niue                    1.839366e+02
MSR      Montserrat              3.776854e+02
FLK      Falkland Islands        5.586720e+02
AIA      Anguilla                1.459866e+03
VGB      British Virgin Islands  3.182259e+03
...                                       ...
OWID_EUR Europe                  9.350448e+07
OWID_HIC High income             1.512104e+08
HKG      Hong Kong                        NaN
MAC      Macao                            NaN
OWID_ENG England                          NaN

[163 rows x 1 columns]

In [13]:
sub.to_csv("./../Dataset/Average_Cases/total_for_continents.csv")

In [6]:
data.describe()

,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
count,1.711970e+05,1.854620e+05,1.846570e+05,1.598020e+05,185492.000000,184692.000000,171197.000000,185461.000000,184656.000000,159801.000000,...,110241.000000,75408.000000,131121.000000,174773.000000,145011.000000,1.885660e+05,6809.000000,6809.000000,6809.000000,6809.000000
mean,4.447686e+06,9.929659e+03,9.966702e+03,5.807193e+04,79.299415,79.606321,83322.357376,180.134364,180.849584,757.901037,...,32.979626,49.653970,2.980737,73.454267,0.716776,1.186722e+08,32323.763075,9.148962,13.165942,1350.376557
std,2.507120e+07,9.029955e+04,8.770564e+04,2.489699e+05,431.741737,421.912829,136280.359468,1037.224728,653.655867,989.612573,...,13.937636,32.766377,2.515806,7.748249,0.153459,5.050310e+08,93054.838983,13.185529,27.128416,1816.526198
min,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,7.700000,1.188000,0.100000,53.280000,0.394000,1.952000e+03,-37726.098000,-44.230000,-70.590000,-1984.281600
25%,6.593000e+03,0.000000e+00,2.286000e+00,1.190000e+02,0.000000,0.000000,1936.079000,0.000000,0.530000,41.458000,...,20.600000,16.603000,1.300000,67.880000,0.601000,5.237980e+05,-0.200001,-0.010000,-0.950000,-0.182602
50%,5.842300e+04,2.400000e+01,4.557100e+01,9.370000e+02,0.000000,0.286000,16116.511000,3.834000,13.292000,318.066000,...,33.700000,49.839000,2.200000,75.000000,0.740000,5.489744e+06,2126.399700,6.810000,7.000000,745.975000
75%,5.055300e+05,5.680000e+02,6.425710e+02,9.012000e+03,6.000000,6.857000,95997.967000,82.144000,119.949000,1160.875000,...,44.400000,83.241000,4.200000,79.380000,0.838000,2.791454e+07,22502.102000,15.370000,19.150000,2248.684300
max,4.167524e+08,7.213891e+06,6.109926e+06,2.826859e+06,13564.000000,8372.571000,726205.264000,193107.077000,31207.174000,5635.396000,...,76.100000,98.999000,13.800000,86.750000,0.955000,4.721383e+09,837045.560000,70.460000,376.770000,10251.770000

In [7]:
data = pd.read_csv("./../Dataset/Complete_Covid/Covid.csv")
data.fillna(0)

C:\Users\akars\AppData\Local\Temp\ipykernel_18956\3965862554.py:1: DtypeWarning: Columns (1,33) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("./../Dataset/Complete_Covid/Covid.csv")

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-03,0.0,0.0,0.000,0.0,0.0,0.000,...,0.0,37.746,0.5,64.83,0.511,41128772.0,0.0,0.0,0.0,0.0
1,AFG,Asia,Afghanistan,2020-01-04,0.0,0.0,0.000,0.0,0.0,0.000,...,0.0,37.746,0.5,64.83,0.511,41128772.0,0.0,0.0,0.0,0.0
2,AFG,Asia,Afghanistan,2020-01-05,0.0,0.0,0.000,0.0,0.0,0.000,...,0.0,37.746,0.5,64.83,0.511,41128772.0,0.0,0.0,0.0,0.0
3,AFG,Asia,Afghanistan,2020-01-06,0.0,0.0,0.000,0.0,0.0,0.000,...,0.0,37.746,0.5,64.83,0.511,41128772.0,0.0,0.0,0.0,0.0
4,AFG,Asia,Afghanistan,2020-01-07,0.0,0.0,0.000,0.0,0.0,0.000,...,0.0,37.746,0.5,64.83,0.511,41128772.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188562,OWID_NAM,0,North America,2023-01-02,119418701.0,3102.0,66726.286,1550094.0,36.0,440.286,...,0.0,0.000,0.0,0.00,0.000,600323657.0,0.0,0.0,0.0,0.0
188563,OWID_NAM,0,North America,2023-01-03,119419948.0,1247.0,66749.000,1550131.0,37.0,441.286,...,0.0,0.000,0.0,0.00,0.000,600323657.0,0.0,0.0,0.0,0.0
188564,OWID_NAM,0,North America,2023-01-04,119428858.0,8910.0,66747.714,1550172.0,41.0,442.286,...,0.0,0.000,0.0,0.00,0.000,600323657.0,0.0,0.0,0.0,0.0
188565,OWID_NAM,0,North America,2023-01-05,119438146.0,9288.0,65937.857,1550244.0,72.0,442.714,...,0.0,0.000,0.0,0.00,0.000,600323657.0,0.0,0.0,0.0,0.0
188566,OWID_NAM,0,North America,2023-01-06,119922726.0,484580.0,77749.571,1553083.0,2839.0,487.429,...,0.0,0.000,0.0,0.00,0.000,0.0,0.0,0.0,0.0,0.0

In [ ]:
view1=data[['iso_code','continent','location','date']]